﻿@model IEnumerable<DAL.Article>

@{
    ViewBag.Title = "Liste";
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ART_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ART_SCAT_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ART_Libelle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ART_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ART_Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ART_Stock)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ART_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ART_SCAT_Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ART_Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ART_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ART_Prix)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ART_Stock)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
