﻿@model IEnumerable<WebShop.Models.ArticlesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin"))
{
<p><a href="#" class="btn btn-primary btn-lg" id="btnCreate"> Create</a></p>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content" id="myModalcontent">
            <div class="modal-header">
                Mon header
            </div>
            <div class="modal-body">
                Ceci est mon body
            </div>
            <div class="modal-footer">
                Mon footer
                <button data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
}
    <div class="form-group">
        @Html.Label("Categorie", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Categorie", ViewBag.Categorie as SelectList, null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("SousCategorie", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("SousCategorie", ViewBag.SousCategorie as SelectList, null, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>


    <br />
    <br />
    <table id="dt" class="table table-striped table-hover">
        <thead>
            <tr cl="trHeader">
                <th>
                    @Html.DisplayNameFor(model => model.ART_Libelle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ART_Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ART_Prix)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ART_Stock)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ART_Libelle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ART_Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ART_Prix)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ART_Stock)
                    </td>@if (User.IsInRole("Admin"))
                    {
                    <td> 

                            @Html.ActionLink("Edit", "Edit", new { id = item.ART_Id }, new { @class = "btn btn-primary" })
                        </td>
                        <td>
                            @Html.ActionLink("Delete", "Delete", new { id = item.ART_Id }, new { @class = "btn btn-primary" })

                        
                    </td>
                       }
                      
                    <td>
                        @if ((item.ART_Stock >= 0)&& User.IsInRole("User")) // dans le cas ou il n'y a plus d'article(s)
                        {
                        @Html.ActionLink("Ajouter", "AddToCart", "Panier", new { id = item.ART_Id }, new { @class = "btn btn-primary",  }) <text></text>

                        }
                        else
                        {
                            @*@Html.ActionLink("Ajouter", "AddToCart", "Panier", new { id = item.ART_Id }, new { @class = "btn btn-primary",  }) <text></text>*@

                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    <script>
    $(document).ready(function () {
        $('#dt').dataTable()
    });
    $(document).ready(function () {
        $("#btnCreate").click(function () {
            //console.log("bouton create click");
            $.ajax({
                type: "GET",
                url: '@Url.Action("Create","Articles")',
                success:
                    function (data) {
                        $("#myModalcontent").html(data);
                        $("#myModal").modal("show");
                    }
            })
        });
        $(".myclassEdit").click(function () {
            $.ajax({
                type: "GET",
                url: '@Url.Action("Edit","Articles")',
                data: { id: this.id },
                success:
                    function (data) {
                        $("#myModalcontent").html(data);
                        $("#myModal").modal("show");
                    }
            })
        });
        $(document).on('click', "#btnModalEdit", function () {
            //console.log("bouton create modal click");
            $.ajax({
                type: "POST",
                url: '@Url.Action("Edit","Articles")',
                data: $("#frmEdit").serialize(),
                success:
                    function (data) {
                        if (data.result == "ok") {
                            $("#myModal").modal("hide");
                            location.reload();
                        }
                        else {
                            $("#myModalcontent").html(data);
                            $("#myModal").modal("show");
                        }
                    }
            })
        });



        $(".myclassDelete").click(function () {
            console.log("delete Articles : " + this.id);
        });
        $(document).on('click', "#btnCreateModal", function () {
            //console.log("bouton create modal click");
            $.ajax({
                type: "POST",
                url: '@Url.Action("Create","Articles")',
                    data: $("#frmCreate").serialize(),
                    success:
                        function (data) {
                            if (data.result == "ok") {
                                $("#myModal").modal("hide");
                                location.reload();
                            }
                            else {
                                $("#myModalcontent").html(data);
                                $("#myModal").modal("show");
                            }
                        }
                })
            });
        });
       
        //Met a jour la liste des sous categories en fonction de la categorie selectionnee
        $().ready(function () {
            $('#Categorie').change(function () {
                $('#dt tbody tr').html("<img src='' />")
                $('#dt tbody tr:first-child').html("Loader")
                $.ajax({
                    type: 'GET',
                    datatype: 'json',
                    url: '@Url.Action("GetCategorie", "Articles")',
                    data: { catid: $('#Categorie').val() },
                    success: function (res) {
                        var items;
                        $('#SousCategorie').html("");
                        $.each(res.souscat, function (k, v) {
                            items +=
                            "<option value='" + v.SCAT_Id + "'>" + v.SCAT_Libelle + "</option>";
                        }   )
                        $('#SousCategorie').html(items);

                        var html = "";

                        $.each(res.articles, function (k, v) {
                            html += '<tr><td>' + v.ART_Libelle + '</td><td>'
                                + v.ART_Description + '</td><td>'
                                + v.ART_Prix + '</td><td>'
                                + v.ART_Stock + '</td><td>'
                                + v.SousCategorie.SCAT_Libelle + '</td><td>'
                                + '<a class="btn btn-primary" href="/Panier/AddToCart/' + v.ART_Id + '">Ajouter</a> | '
                                + '<a class="btn btn-primary" href="/Articles/Details/' + v.ART_Id + '">Details</a></td></tr>';
                        })

                        $('#dt tbody').html(html);
                    }
                })
            })

            $('#SousCategorie').change(function () {
                $('#dt tbody tr').html("<img src='' />")
                $('#dt tbody tr:first-child').html("Loader")

                $.ajax({
                    type: 'GET',
                    datatype: 'json',
                    url: '@Url.Action("GetCategorie", "Articles")',
                    data: { catid: $('#SousCategorie').val() },
                    success: function (res) {
                        var html = "";

                        $.each(res.articles, function (k, v) {
                            html += '<tr><td>' + v.ART_Libelle + '</td><td>'
                                + v.ART_Description + '</td><td>'
                                + v.ART_Prix + '</td><td>'
                                + v.ART_Stock + '</td><td>'
                                + v.SousCategorie.SCAT_Libelle + '</td><td>'
                                + '<a class="btn btn-primary" href="/Panier/AddToCart/' + v.ART_Id + '">Ajouter</a> | '
                                + '<a class="btn btn-primary" href="/Articles/Details/' + v.ART_Id + '">Details</a></td></tr>';
                        })

                        $('#dt tbody').html(html);
                    }
                })
            })
        })
    </script>
    }


