﻿@model WebShop.Models.PanierModel
<h3>
    <em>Review</em> your cart:
</h3>
<div id="update-message">
</div>
<table>
    <tr>
        <th>
           Nom du Produit
        </th>
        <th>
            Prix
        </th>
        <th>
            Quantité
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.CartItems)
    {
        <tr id="row-@item.PanierId">
            <td>
                @Html.ActionLink(item.Article.ART_Libelle, "Details", "Articles", new { id = item.Article.ART_Id }, null)
            </td>
            <td>
                @item.Article.ART_Prix
            </td>
            <td id="item-count-@item.PanierId">
                @item.Count
            </td>
            <td>
                <button class="RemoveLink" data-id="@item.Article.ART_Id">Delete</button>
            </td>
        </tr>
    }
    <tr>
        <td>
            Total
        </td>
        <td></td>
        <td></td>
        <td id="cart-total">
            @Model.CartTotal
        </td>
    </tr>
</table>
<div class="btn btn-primary">@Html.ActionLink("Commander", "Create", "Commandes")Commander</div>





@section Scripts {
    <script>
        $(function () {
            // Document.ready -> link up remove event handler
            $(".RemoveLink").click(function () {
                // Get the id from the link
                var recordToDelete = $(this).attr("data-id");
                if (recordToDelete != '') {
                    // Perform the ajax post
                    $.post("/Panier/RemoveFromCart/", { "id": recordToDelete },
                        function (data) {
                            // Successful requests get here
                            // Update the page elements
                            if (data.ItemCount == 0) {
                                $('#row-' + data.DeleteId).fadeOut('slow');
                            } else {
                                $('#item-count-' + data.DeleteId).text(data.ItemCount);
                            }
                            $('#cart-total').text(data.CartTotal);
                            $('#update-message').text(data.Message);
                            $('#cart-status').text('Cart (' + data.CartCount + ')');
                        });
                }
            });
        });
        //function handleUpdate() {
        //    // Load and deserialize the returned JSON data
        //    var json = context.get_data();
        //    var data = Sys.Serialization.JavaScriptSerializer.deserialize(json);

        //    // Update the page elements
        //    if (data.ItemCount == 0) {
        //        $('#row-' + data.DeleteId).fadeOut('slow');
        //    } else {
        //        $('#item-count-' + data.DeleteId).text(data.ItemCount);
        //    }
        //    $('#cart-total').text(data.CartTotal);
        //    $('#update-message').text(data.Message);
        //    $('#cart-status').text('Cart (' + data.CartCount + ')');
        //}
    </script>
}