﻿@if (User.IsInRole("Admin"))
{
    <li>@Html.ActionLink("Clients", "Index", "Clients")</li>
    <li>@Html.ActionLink("Sous Catégories", "Index", "SousCategories")</li>
    <li>@Html.ActionLink("Catégories", "Index", "Categories")</li>
    <li>@Html.ActionLink("Historique des Commandes", "Index", "Commandes")</li>
    @*<li>@Html.ActionLink("Details des Commandes", "Index", "DetailCommandes")</li>*@
    
    

}
