﻿<script type="text/javascript">
    $(document).ready(function() {
        SetDatePicker("COM_DateLivraison");
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        SetDatePicker("COM_Date");
    });
</script>
