﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Problème de connexion</h1>
<h2 class="text-danger">Vous ne pouvez supprimer un client ayant créer une commande.</h2>



