﻿@model WebShop.DAL.DetailCommande

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetailCommande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Article.ART_Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Article.ART_Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commande.COM_Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commande.COM_Statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DCOM_Quantite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DCOM_Quantite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DCOM_PrixUnitaire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DCOM_PrixUnitaire)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DCOM_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
