﻿@model IEnumerable<WebShop.Models.DetailsCommandeModel>

@{
    ViewBag.Title = "Index";
}

<h2> Détails des Commandes</h2>

<p>
   Ajouter un détail à une commande ? Cliquez @Html.ActionLink("ici", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Article.ART_Libelle)*@ Article
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Commande.COM_Statut)*@ Statut
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DCOM_Quantite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DCOM_PrixUnitaire)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Article.ART_Libelle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commande.COM_Statut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DCOM_Quantite)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DCOM_PrixUnitaire)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DCOM_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.DCOM_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DCOM_Id })
        </td>
    </tr>
}

</table>
