﻿@model WebShop.Models.ClientsModel

@{
    ViewBag.Title = "Delete";
}

<h2>Supprimer</h2>

<h3>Etes-vous sûr de vouloir supprimer ce client ?</h3>


<div>
    <h4>Client</h4>
    <hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CLI_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLI_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLI_Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLI_Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLI_Civilite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLI_Civilite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLI_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLI_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLI_Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLI_Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLI_CodePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLI_CodePostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLI_Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLI_Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CLI_Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CLI_Telephone)
        </dd>

    </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
