﻿@model IEnumerable<WebShop.Models.ClientsModel>

@{
    ViewBag.Title = "Index";
}

@using GridMvc.Html
<h2>Liste des clients</h2>
@*<p>
   Nouveau client ? cliquez @Html.ActionLink("ici", "Create")
</p>*@

<div class="code-cut">

    @Html.Grid(Model).Columns(columns =>
                          {
                              columns.Add(p => p.CLI_Nom).Titled("Nom").Filterable(true).Sortable(true);
                              columns.Add(p => p.CLI_Prenom).Titled("Prénom").Filterable(true).Sortable(true);
                              columns.Add(p => p.CLI_Civilite).Titled("Civilité").Filterable(true).Sortable(true);
                              columns.Add(p => p.CLI_Email).Titled("E-mail").Filterable(true).Sortable(true);
                              columns.Add(p => p.CLI_Adresse).Titled("Adresse").Filterable(true).Sortable(true);
                              columns.Add(p => p.CLI_CodePostal).Titled("Code Postal").Filterable(true).Sortable(true);
                              columns.Add(p => p.CLI_Ville).Titled("Ville").Filterable(true).Sortable(true);
                              columns.Add(p => p.CLI_Telephone).Titled("Telephone").Filterable(true).Sortable(true);
                              columns.Add()
                               .Encoded(false)
                               .Sanitized(false)
                               .SetWidth(30)
                                  .RenderValueAs(o => @Html.ActionLink("Edit", "Edit", new { id = o.CLI_Id }));
                              columns.Add()
                                  .Encoded(false)
                                  .Sanitized(false)
                                  .SetWidth(30)
                              .RenderValueAs(o => @Html.ActionLink("Delete", "Delete", new { id = o.CLI_Id }));

                          }).WithPaging(10).Sortable(true)

    
                              </div>















