﻿@model IEnumerable<WebShop.Models.CategoriesModel>

@{
    ViewBag.Title = "Index";
}

@using GridMvc.Html


<h2>Catégorie</h2>

<p>
    Nouvelle catégorie ? Cliquez @Html.ActionLink("ici", "Create")
</p>

<div class="code-cut">
    @Html.Grid(Model).Columns(columns =>
                            {
                                columns.Add(p => p.CAT_Libelle).Titled("Categorie").Filterable(true).Sortable(true);
                                columns.Add()
                               .Encoded(false)
                               .Sanitized(false)
                               .SetWidth(30)
                                  .RenderValueAs(o => @Html.ActionLink("Edit", "Edit", new { id = o.CAT_Id }));
                                columns.Add()
                                    .Encoded(false)
                                    .Sanitized(false)
                                    .SetWidth(30)
                                .RenderValueAs(o => @Html.ActionLink("Delete", "Delete", new { id = o.CAT_Id }));


})

