﻿@model WebShop.Models.CommandesModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Commande</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.COM_Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COM_Statut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_Statut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COM_DateLivraison)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_DateLivraison)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COM_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COM_Prenom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_Prenom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COM_Civilite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_Civilite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COM_Adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_Adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COM_CodePostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_CodePostal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COM_Ville)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COM_Ville)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.CLI_Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.CLI_Nom)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
