﻿@model IEnumerable<WebShop.Models.CommandesModel>

@{
    ViewBag.Title = "Index";
}

@using GridMvc.Html
<h2>Liste des commandes</h2>

@if (User.IsInRole("Admin"))
{ 
<div class="code-cut">

    @Html.Grid(Model).Columns(columns =>
                          {
                              columns.Add(p => p.COM_Date).Titled("Date de la Commande").Filterable(true).Sortable(true).Format(("{0:dd-MMM-yyyy}"));
                              columns.Add(p => p.COM_Statut).Titled("Statut de la Commande").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_DateLivraison).Titled("Date de Livraison").Filterable(true).Sortable(true).Format(("{0:dd-MMM-yyyy}"));
                              columns.Add(p => p.COM_Nom).Titled("Nom").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_Prenom).Titled("Prénom").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_Civilite).Titled("Cvilité").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_Adresse).Titled("Adresse").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_CodePostal).Titled("Code Postal").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_Ville).Titled("Ville").Filterable(true).Sortable(true);
                              columns.Add()
                               .Encoded(false)
                               .Sanitized(false)
                               .SetWidth(30)
                                  .RenderValueAs(o => @Html.ActionLink("Edit", "Edit", new { id = o.COM_Id }));
                              columns.Add()
                                  .Encoded(false)
                                  .Sanitized(false)
                                  .SetWidth(30)
                              .RenderValueAs(o => @Html.ActionLink("Delete", "Delete", new { id = o.COM_Id }));

                          }).WithPaging(10).Sortable(true)


</div>
}
else
{
    <div class="code-cut">

        @Html.Grid(Model).Columns(columns =>
                          {
                              columns.Add(p => p.COM_Date).Titled("Date de la Commande").Filterable(true).Sortable(true).Format(("{0:dd-MMM-yyyy}"));
                              columns.Add(p => p.COM_Statut).Titled("Statut de la Commande").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_DateLivraison).Titled("Date de Livraison").Filterable(true).Sortable(true).Format(("{0:dd-MMM-yyyy}"));
                              columns.Add(p => p.COM_Nom).Titled("Nom").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_Prenom).Titled("Prénom").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_Civilite).Titled("Cvilité").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_Adresse).Titled("Adresse").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_CodePostal).Titled("Code Postal").Filterable(true).Sortable(true);
                              columns.Add(p => p.COM_Ville).Titled("Ville").Filterable(true).Sortable(true);
                              

                          }).WithPaging(10).Sortable(true)


    </div>
}


































           
    
























