﻿@model DAL.SousCategorie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SousCategorie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SCAT_Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SCAT_Libelle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categorie.CAT_Libelle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.CAT_Libelle)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SCAT_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
