﻿@model IEnumerable<WebShop.Models.SousCategoriesModel>

@{
    ViewBag.Title = "Index";
}

<h2>Liste des sous-catégories</h2>

<p>
  Nouvelle sous-catégorie ? Cliquez @Html.ActionLink("ici", "Create")
</p>
<table id="dt" class="table table-striped table-hover">
    <thead>
        <tr cl="trHeader">
            <th>
                @Html.DisplayNameFor(model => model.SCAT_Libelle)
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Categorie.CAT_Libelle)*@ Catégorie
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SCAT_Libelle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.CAT_Libelle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SCAT_Id }) |
                @* @Html.ActionLink("Details", "Details", new { id=item.SCAT_Id }) |*@
                @Html.ActionLink("Delete", "Delete", new { id = item.SCAT_Id })
            </td>
        </tr>
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/DataTables")
    <script>
        $(document).ready(function () {
            $('#dt').dataTable()
        });
    </script>
}


